$light-background: #fefefe
$light-foreground: #212121

$dark-background: #212121
$dark-foreground: #fefefe

$error: #F06031
$on-error: #fefefe

$positive: #22D020
$on-positive: #212121

/* ------------------------------------------------------------------ */

$light-primary: #003049
$light-primary-lighter: #0069a0
$light-primary-darker: #00263a
$on-light-primary: #fefefe

$light-secondary: #AB0303
$light-secondary-lighter: #ed0404
$light-secondary-darker: #890202
$on-light-secondary: #fefefe

$light-accent: #FF9F38
$light-accent-lighter: #ffb260
$light-accent-darker: #f98100
$on-light-accent: #212121

/* ------------------------------------------------------------------ */

$dark-primary: #0F3750
$dark-primary-lighter: #1c6796
$dark-primary-darker: #0c2c40
$on-dark-primary: #fefefe

$dark-secondary: #820909
$dark-secondary-lighter: #c70e0e
$dark-secondary-darker: #680707
$on-dark-secondary: #fefefe

$dark-accent: #FF9F38
$dark-accent-lighter: #ffb260
$dark-accent-darker: #f98100
$on-dark-accent: #212121
