@mixin header-common()
  font-weight: bold
  line-height: 1.5
  margin: 0
  padding: 0

@mixin header-1
  font-size: 2.986rem
  @include header-common()

@mixin header-2
  font-size: 2.488rem
  @include header-common()

@mixin header-3
  font-size: 2.074rem
  @include header-common()

@mixin header-4
  font-size: 1.728rem
  @include header-common()

@mixin header-5
  font-size: 1.44rem
  @include header-common()

@mixin header-6
  font-size: 1.2rem
  @include header-common()

@mixin regular-text()
  font-size: 1rem
  font-weight: normal
  line-height: 1.5

@mixin small-text()
  font-size: 0.833rem
  font-weight: normal
  line-height: 1.5

h1
  @include header-1

h2
  @include header-2

h3
  @include header-3

h4
  @include header-4

h5
  @include header-5

h6
  @include header-6

p
  @include regular-text()

small
  @include small-text()

small.note
  @include small-text()
  opacity: 0.64

a
  @include small-text()
  text-decoration: none
  color: var(--primary-color)
