<section class="section dark">
  <div class="card primary">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card secondary">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card accent">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card warn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card positive">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
</section>
<section class="section light">
  <div class="card primary">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card secondary">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card accent">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card warn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
  <div class="card positive">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolore ea ipsum in dignissimos aut est minus vero sed. Ullam illo eum nisi soluta saepe quia nam nostrum quibusdam officiis?
  </div>
</section>
